//
   Created by qianqing on 16-1-31.
extends layout

block content
    .wrapper
        .header-top.clearfix
            p.header-top-phone.fr 客服热线:
                strong  400-154-5001
        .header
            h1
                a(href="/") 大内购 - 联盟企业员工的内部福利

    .main-content.purple-border.mar-t15
        .wrapper.mar-t30.pad-b20
            .booking-content.pad-40.clearfix
                .apply-box
                    h3 企业申请
                    #apply.form-validate(v-cloak)
                        .apply-item.clearfix
                            p.fl.p-item
                                label
                                    span.red *
                                    | 企业名称
                                input.txt.txt-name(type="text", name="txt", v-model="company", validate="{required:'请填写企业名称'}")
                            p.fr.p-item
                                label
                                    span.red *
                                    | 所属行业
                                input.txt.txt-name(type="text", name="txt", v-model="industry", validate="{required:'请填写所属行业'}")
                        .apply-item.clearfix
                            p.fl.p-item
                                label
                                    span.red *
                                    | 联系人姓名
                                input.txt.txt-name(type="text", name="txt", v-model="fullName", validate="{required:'请填写联系人姓名'}")
                            p.fr.p-item
                                label
                                    span.red *
                                    | 联系人手机
                                input.txt.txt-name(type="text", name="phone", v-model="phone", validate="{required:'请填写手机号码',mobile:'请填写正确的手机号码'}")
                        .apply-item.clearfix
                            p.fl.p-item
                                label
                                    span.red *
                                    | 联系人邮箱
                                input.txt.txt-name(type='text', name='email', v-model="email", validate="{required:'请填写电子邮箱',email:'请填写正确的电子邮箱'}")
                            p.fr.p-item
                                label
                                    span.red *
                                    | 公司地址
                                input.txt.txt-name(type="text", name="address", v-model="address", validate="{required:'请填写公司地址'}")
                        p.apply-mobile-tips(v-show="applied") 该手机号已申请
                        p.apply-tips 为保证审核通过率，所填写内容必须真实有效
                        p.center
                            input.btn.btn-b.btnValidate.apply-button(type="button", name="btnSubmit", @click="send", value="提交")

    .footer
        .wrapper
            ul.ul-footer-nav.clearfix
                li.VIP
                    a(href="")
                        span.title VIP
                        span 会员专享
                li.zp
                    a(href="")
                        span.title 100%
                        span 正品保证
                li.gold
                    a(href="")
                        span.title 尊享
                        span 金牌服务
                li.brand
                    a(href="")
                        span.title 优质
                        span 品牌精选
                li.return
                    a(href="")
                        span.title 售后
                        span 七天无理由退货
            .footer-nav-box
                p
                    a(href="") 关于我们 | 服务与保障 | 下单与配送 | 招商合作 | 免责声明 | 使用条款 | 注册协议
                p 大内购加盟热线：
                    strong 400-154-5001
                    | 工作时间：周一至周五，8:00至下午18:00 售后支持：
                    a.footer-email(href="mailto:marketing@daneigou.com") marketing@daneigou.com
            p.copyright
                | Copyright © 2015 DANEIGOU.COM 版权所有 | 增值电信业务经营许可证：
                a.t999(href="") 浙B2-20150150

    .ui-apply-box
        p
            | 您的申请已成功提交，大内购会在1-5个工作日内审核。
            | 如有疑问请拨打客服热线4001545001咨询

block append scripts
    script(type='text/javascript').
        var vm = new Vue({
            el: '#apply',
            data: {
                company: '',
                industry: '',
                fullName: '',
                phone: '',
                email: '',
                address: '',
                applied: false
            },
            // 在 `methods` 对象中定义方法
            methods: {
                send: function (event) {
                    var self = this;
                    if (!self.company || !self.industry || !self.fullName || !self.phone
                            || !self.email || !self.address) {
                        return;
                    }
                    if ($('.em-errMes').length > 0) {
                        return;
                    }

                    $.ajax({
                        url: '/company-join',// 跳转到 action
                        data: {
                            company: self.company,
                            industry: self.industry,
                            fullName: self.fullName,
                            phone: self.phone,
                            email: self.email,
                            address: self.address
                        },
                        type: 'post',
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            if (data.status === 1) {
                                self.company = '';
                                self.industry = '';
                                self.fullName = '';
                                self.phone = '';
                                self.email = '';
                                self.address = '';
                                self.applied = false;
                                $.pop({
                                    target: '.ui-apply-box',
                                    posType: 'center',
                                    width: 548,
                                    showMask: true
                                });
                                $('.s-sopop-close').click(function () {
                                    location.href = '/';
                                });
                            } else {
                                self.applied = true;
                            }
                        },
                        error: function () {

                        }
                    });
                }
            }
        });

        vm.$watch('phone', function (newVal, oldVal) {
            if (newVal != oldVal)
                vm.applied = false;
        })
